{% block content %}
<section>
    <div class="py-4"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p></p>
                <p class="h2 text-center">CONEEST</p>
                <p class="h4 text-center">en numeros</p>
            </div>
            <div class="col-md-3">
                <p class="text-center h2"><i class="fa-solid fa-chalkboard-user"></i></p>
                <p class="h5 text-center">20</p>
                <p class="h5 text-center">Ponentes</p>
            </div>
            <div class="col-md-3">
                <p class="text-center h2"><i class="fa-solid fa-graduation-cap"></i></p>
                <p class="h5 text-center">20</p>
                <p class="h5 text-center">Participantes</p>
            </div>
            <div class="col-md-3">
                <p class="text-center h2"><i class="fa-solid fa-book-open-reader"></i></p>
                <p class="h5 text-center">20</p>
                <p class="h5 text-center">Cursos y Mini Cursos</p>
            </div>
        </div>
    </div>
    <div class="py-4"></div>
</section>
{% endblock %}