*{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #281975;
}

.custom-title{
    color: #281975;
}


.carousel img{
    filter: brightness(50%);
}


.section-curso{
    background: #eeeff3;
}





.custom-footer{
    
    background: #281975;
}

.custom-footer ul li {
    list-style: none;
}

.custom-footer ul li a {
    color: white;
    text-decoration: none;
}
