{% extends 'coneest/app.html' %}

{% block content %}

<section class="section-curso">
  <div class="p-4"></div>
  {% for curso in cursos %}
  <div class="container">
    <p class="h3 custom-title">Cursos</p>
    <div class="p-2"></div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{curso.id}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{curso.id}}"
            aria-expanded="true" aria-controls="{{curso.id}}">
            {{curso.nombre}}
          </button>
        </h2>
        <div id="{{curso.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{curso.descripcion_curso}}</p>
          <p>
            <small><strong>Dia: </strong>{{curso.dia}}</small>
          </p>
          <p>
            <small><strong>hora: </strong>{{curso.hora}}</small>
          </p>
          <p>
            <small><strong>Dia: </strong>{{curso.dia}}</small>
          </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>




  <div class="p-4"></div>
  <div class="container">
    <p class="h3 custom-title">Mini Cursos</p>
    <div class="p-2"></div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
            aria-expanded="true" aria-controls="collapseOne1">
            Mini Big Data
          </button>
        </h2>
        <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio explicabo in illo molestias atque quod nostrum doloribus veritatis dolor dolores.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4"></div>
</section>

{% endblock %}
